<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{.}}/static/bootstrap.min.css">
    <title>Code Nutrition Facts</title>
  </head>
  <body>
    <div class="container">
        <br>
        <div class="row">
        <h1>
        <div class="col-3"><a href="{{.}}/"><img class="img-fluid" src="{{.}}/static/logo.svg" style="vertical-align:middle" height="42"></a></div>
        <div class="col-1 align-self-center">Code Nutrition Facts</div>
        </h1>     
        </div>
        <br>
        <div id="content">
          <div class="card" id="card-intro">
            <div class="card-header" id="heading-intro">
              <h5 class="mb-0">
                <button id="btn-collapse-intro" class="btn btn-link" data-toggle="collapse" data-target="#collapse-intro" aria-expanded="true" aria-controls="collapse-intro">
                  About
                </button>
              </h5>
            </div>         
          
          <div id="collapse-intro" class="collapse show" aria-labelledby="heading-intro" data-parent="#accordion">
            <div class="card-body">
              <h4>Imagine your code and all dependencies would carry nutrition labels.</h4>
              Code Nutrition Facts is a service for labelling code so everybody can understand what they are getting into when building upon or using your software.
              The survey itself is still under development you are welcome to discuss, contribute and improve it on <a href="https://github.com/moethu/codenutrition">github</a>.
              Currently it consists of 9 fundamental questions regarding the state of your (legacy) code.
              After answering them by multiple choice the service generates an embeddable badge representing the state of your project.
              <br><br>
              <button id="start-button" type="button" class="btn btn-primary">Get Started</button>
            </div>
          </div>
        </div>
        </div>
        
        <br>
        <div><i>This service does not save any personal user data. No cookies used.</i></div>
        <br><br>
    </div>
    <script src="{{.}}/static/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="{{.}}/static/popper.min.js" crossorigin="anonymous"></script>
    <script src="{{.}}/static/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{.}}/static/nutrition.js" ></script>
    <script>
        renderSelectionMenu()
    </script>

  </body>
</html>
