<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{.}}/static/bootstrap.min.css" >
    <title>Code Nutrition Facts</title>
  </head>
  <body>
    <div class="container">
        <br>
        <div class="row">
        <h1>
        <div class="col-3"><a href="{{.}}/"><img class="img-fluid" src="{{.}}/static/logo.svg" style="vertical-align:middle" height="42"></a></div>
        <div class="col-1 align-self-center">Code Nutrition Facts</div>
        </h1>     
        </div>
        <br>
        <div id="content">
          <!-- place imprint here -->
        </div>
        <br>
        <br>
    </div>
    <script src="{{.}}/static/jquery-3.2.1.min.js" ></script>
    <script src="{{.}}/static/popper.min.js" ></script>
    <script src="{{.}}/static/bootstrap.min.js" ></script>
    <script src="{{.}}/static/nutrition.js" ></script>
  </body>
</html>